# Dependências
node_modules/
**/node_modules/

# Variáveis de ambiente
.env
**/.env

# Banco de dados SQLite
*.db
*.db-journal
**/*.db

# Build do frontend
dist/
**/dist/

# Sistema
.DS_Store
**/.DS_Store
